*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy-regular;
}

body, html{
    width: 100%;
    height: 100%;
}
/* start */

main{
    width: 100%;
    height: 100%;
    background-color: rgb(232, 232, 232);
}

nav{
    display: grid;
    grid-template-columns: 80% 5% 5% 5% 5%;
    justify-content: center;
    align-content: center;
    /* background-color: aqua; */
    height: 60px;
    font-size: 12px;
    padding-top: 40px;
}
nav h1:hover{
    text-decoration: underline;
}

#lightly{
    display: grid;
    grid-template-columns: 70% 30%;
    /* padding-top: 60px; */
    padding: 80px;
    font-size: 40px;
    /* background-color: rgb(246, 212, 212); */
}
#Exclusive{
    display: grid;
    grid-template-columns: 80% 20%;
    /* background-color: rgb(210, 250, 237); */
    padding-right: 40px;
    padding-left: 80px;
    font-size: 20px;
}
#banner{
    height: 100%;
    width: 100%;
    /* background-color: rgb(200, 200, 237); */
    background-image: url(img1.jpg);
    background-size: cover;
    background-position: 10 100%;
}
#right{
    /* background-color: yellow; */
    /* padding-right: 80px; */
    /* display: ; */
}
#right h1{
    font-size: 20px;
    /* margin: 20px; */
    /* border-top: 2px solid black; */
    /* padding-top: 20px; */
}
#right h1:hover{
    text-decoration: underline;
}
#right .elem{
    display: flex;
    font-size: 20px;
    margin: 20px;
    border-top: 2px solid black;
    padding-top: 20px;
    justify-content: space-between;
    align-content: center;
}

#right i{
    opacity: 0;
}
#right .elem:hover i{
    opacity: 1;
    /* background-color: red; */
}


@media(max-width : 600px){

nav{
    font-size: 8px;
    /* padding-right: 30px; */
    gap: 20px;
}

#lightly{
    padding: 20px;
    font-size: 16px;
}
#Exclusive{
    /* padding-right: 40px; */
    padding-left: 20px;
    font-size: 10px;
}
#banner{
    height: 40%;
}

#right h1{
    font-size: 10px;
    margin: 0px;
    border-top: 1px solid black;
    padding-top: 0px;
    /* background-color: red; */
}
#right h1:hover{
    text-decoration: underline;
}
#right .elem{
    display: flex;
    font-size: 5px;
    margin: 0px;
    border-top: 0px solid black;
    padding-top: 0px;
    justify-content: space-between;
    align-content: center;
}

#right i{
    opacity: 0;
}
#right .elem:hover i{
    opacity: 1;
    /* background-color: red; */
}
}
